<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Detection Site</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>


	<script src="/main.js"></script>	

</head>

<body >

<header>
	
</header>

<main>
	<div class="container">
		<nav class="teal">
		<div class="nav-content">
      		<ul class="tabs tabs-transparent">
		        <li class="tab"><a class="active" href="#login_detection">Login Detection</a></li>
		        <li class="tab"><a href="#auto_logout">Auto Logout</a></li>
      		</ul>
    	</div>
		</nav>

		
		<div class="row" id="login_detection">
            <h4 class="card-title" style="text-align: center"><a href="/">You are logged in at these sites</a></h4>
	        <div style="text-align:center" id="loggedIn"></div>
	        <h4 class="card-title" style="text-align: center"><a href="/">You are logged out of these</h4>
            <div style="text-align:center" id="notLoggedIn"></div>
        </div>
        <div class="row" id="auto_logout">
			<div class="col">
			<a class="waves-effect btn" style="text-align:center" onclick="logOutUser()">Begin Logout Attacker</a>			
		    </div>        
		</div>
	</div>	

</main>	
</body>
</html>
