<!DOCTYPE html>
<html lang="en">
<head>
	<title>Attacker Site</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>


	<!-- <script src="/main.js"></script> -->	
	<script src="/refreshToken.js"></script>

</head>

<body >
<main>
	<div class="container">
		<div class="row">
			 <h1 class="card-title"><a href="/" >Demonstration</a></h1>
					<h5>You are logged in to:</h5>
					<div id="loggedIn" class="col-sm-8">
						<h4>No platform</h4>
					</div>
					<h5>You are not logged in to:</h5>
					<div id="notLoggedIn" class="col-sm-8"></div>
		</div>

		<div class="row">
			<a class="waves-effect btn" hred="/" onclick="logOutUser()">Click to win an IPad</a>

			<a class="waves-effect btn" hred="/" onclick="window.location.reload(true)">Refresh</a>

			<!-- <img src="https://retail.onlinesbi.com/sbijava/images/post_login_bg.jpg" />		 -->	
		</div>
	
	</div>	

</main>	
</body>
</html>
