    body {
        background-color: rgb(246, 246, 239);
        color: #030303;
        padding-top: 24px;
        margin: 0;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 100px;
    }
    
    h1 {
        font-size: 34px;
        font-weight: 400;
        letter-spacing: -.01em;
        line-height: 40px;
    }
    
    h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }
    
    h3 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    h4 {
        margin-bottom: 0;
        margin-top: 24px;
    }
    
    p {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-weight: 400;
        line-height: 20px;
    }
    
    ul {
        line-height: 20px;
    }
    
    .content {
        max-width: 720px;
        margin: 0 auto;
        padding: 8px;
    }
    
    section {
        margin-top: 24px;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    .demo {
        min-height: 480px;
    }
    
    .demo h3 {
        margin-top: 24px;
        margin-bottom: 6px;
    }
    
    .demo > span {
        text-align: center;
    }
    
    .network {
        padding: 8px;
        background: white;
        margin: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        width: 152px;
    }
    
    .network img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    
    .network {
        color: #030303;
        text-decoration: none !important;
    }
    
    footer {
        background: #424242;
        margin-top: 64px;
        padding: 16px;
        font-size: 16px;
        text-align: center;
        font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
        color: white;
        cursor: pointer;
        margin-bottom: 49px;
    }
    
    footer:hover {
        text-decoration: underline;
    }
    
    pre,
    code {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
    
    @media only screen and (max-device-width: 480px) {
        .content {
            padding-top: 4px;
        }
        .network {
            width: 128px;
        }
    }